// $primary: #120d31;
// $primary: #191825;
$primary: #070707;
$secondary: #4d4c7d;
$action: #7e08ec;
$light: #f5f5f5;
$action-dark: #650492;
$text-light: #ccc;
$text-medium: #999999;
$text-dark: #ea65cb;
