@import "../../styles/breakpoints";
@import "../../styles/colors";
@import "../../styles/fonts";

.events_nav {
  display: flex;
  justify-content: center;
  width: clamp(180px, 100%, 600px);
  align-items: center;
  color: white;
  border: 1px solid $secondary;
  padding: 0.35rem;
  list-style: none;
  gap: 1rem;
  border-radius: 10px;

  & > li {
    flex: 1;
    border-radius: 7px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    color: $text-medium;
    font-size: clamp(0.75rem, 2vw, 1rem);
    padding-block: 0.25rem;

    &[data-active="true"] {
      background: $secondary;
      color: $text-light;
    }

    & > a {
      text-decoration: none;
    }
  }
}

.event__main__container {
  background-color: $primary;
  padding: 1rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  min-height: 100dvh;

  & > div.section__container {
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    padding-inline: 0.5rem;
  }
}

.event__section {
  & > article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 80px;
  }
}

.event_day_container {
  border: 0.5px solid $secondary;
  width: 100%;
  color: white;
  position: relative;
  border-radius: 20px;

  & > h3 {
    line-height: 30px;
    position: absolute;
    top: -20px;
    left: 20px;
    background-color: $primary;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: $text-dark;
    font-family: $caveat-medium;

    @include mobile {
      font-size: 1.8rem;
    }
  }

  // controls
  .controls__prev,
  .controls__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $primary;
    padding: 0.5rem;
    cursor: pointer;
    background-color: rgba($color: #9b9b9b, $alpha: 0.2);
    border-radius: 50%;
    padding: 15px;
    z-index: 100;
  }
}

.controls__prev {
  left: 1rem;
  &[data-hidden="true"] {
    display: none;
  }
}
.controls__next {
  right: 1rem;
}

.card__container {
  // display: flex;
  // flex-wrap: nowrap;
  // margin: 0 auto;
  width: 100%;
  // overflow-x: auto;
  padding: 1rem;
  padding-top: 1.75rem;
  // gap: 1rem;
  // scroll-behavior: smooth;
  // scroll-snap-type: x mandatory;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 42%;
  gap: 1rem;
  padding-inline: 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;

  // -ms-overflow-style: none;
  /* Internet Explorer and Edge */
  scrollbar-width: none;

  @media only screen and (max-width: 1200px) {
    grid-auto-columns: 51%;
  }

  @media only screen and (max-width: 992px) {
    grid-auto-columns: 60%;
  }

  @media only screen and (max-width: 768px) {
    padding-block: 1rem 0.5rem;
    padding-inline: 0.5rem;
    gap: 0.5rem;
    scroll-padding-inline: 0.5rem;
    grid-auto-columns: 80%;
  }

  @media only screen and (max-width: 448px) {
    grid-auto-columns: 95%;
  }

  /* Firefox */
  ::-webkit-scrollbar {
    display: none;
  }

  & > li {
    scroll-snap-align: start;
    flex-shrink: 0;
    height: 100%;
  }
}

.card {
  max-width: 300px;
  padding: 1rem;

  &__header {
    padding: 0;
  }
}

.coming__soon {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
