@import '../../../../styles/colors';
@import '../../../../styles/breakpoints';
@import '../../../../styles/fonts';

.wrapper {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    // overflow-x: hidden;
    overflow: hidden;
    // border: 8px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

    &>.main_container {
        height: 95vh;
        width: 95%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // position: relative;
        // border: 6px solid green;

        &>.content_espektro {
            position: absolute;
            height: 100%;
            width: 100%;
            // border: 2px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);

            &>.main_content_container {

                display: grid;
                // grid-template-columns: 1fr;
                grid-template-columns: 1fr;
                width: 100%;
                height: 100%;
                // border: 2px solid red;
                // background-color: #4d4855;
                position: relative;

                &>.content_container {
                    // border: 2px solid red;
                    position: absolute;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    font-size: 1.5rem;
                    gap: 1rem;
                    grid-template-columns: 2/3;
                    // grid-template-columns: 1/2;
                    // border: 1px solid blue;
                    height: 100%;
                    opacity: 1;
                    color: floralwhite;

                    &>div:nth-child(n) {
                        overflow: hidden;

                        &>p {
                            // transform: translateY(-100%);
                        }
                    }

                    &>div:nth-child(1) {
                        // border: 1px solid red;
                        overflow: hidden;
                        font-size: 3rem;
                        font-family: $poppins-sans;
                        font-weight: 800;
                        color: floralwhite;

                        &>p {
                            transform: translateY(-100%);
                        }
                    }

                }

                &>.content_espektro_image_wrapper {
                    height: 100%;
                    width: 100%;
                    padding: 1rem;
                    gap: 0.5rem;
                    // opacity: 0;
                    // border: 7px solid red;
                    position: relative;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &>.content_espektro_image_container:not(:nth-child(1)) {
                        display: none;
                    }

                    &>.content_espektro_image_container:nth-child(n) {
                        // border: 1px solid red;
                        height: 80%;
                        width: 16rem;
                        overflow: hidden;
                        // border: 1px solid red;

                        // @keyframes revealText {
                        //     to {
                        //         opacity: 1;
                        //         transform: translateX(0);
                        //     }
                        // }


                        &>img {
                            // animation: revealText 1s 0.2s forwards;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 1rem;
                        }
                    }

                    // &>.content_espektro_image_container:nth-child(2) {
                    //     // border: 1px solid red;
                    //     height: 16rem;
                    //     width: 16rem;
                    //     // position: relative;
                    //     grid-template-columns: 1/2;

                    //     &>img {
                    //         width: 100%;
                    //         height: 100%;
                    //         object-fit: cover;
                    //         border-radius: 1rem;
                    //     }
                    // }
                }
            }

        }

        &>.content_techtix {
            position: absolute;
            height: 100%;
            width: 100%;
            // border: 2px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);

            &>.main_content_container {

                display: grid;
                grid-template-columns: 1fr;
                width: 100%;
                height: 100%;
                // border: 2px solid red;
                // background-color: #4d4855;
                position: relative;

                &>.content_container {
                    // border: 2px solid red;
                    position: absolute;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    font-size: 1.5rem;
                    gap: 1rem;
                    grid-template-columns: 2/3;
                    // grid-template-columns: 1/2;
                    // border: 1px solid blue;
                    height: 100%;
                    opacity: 1;
                    color: floralwhite;
                    // z-index: 20;

                    &>div:nth-child(1) {
                        // border: 1px solid red;
                        overflow: hidden;
                        font-size: 3rem;
                        font-family: $poppins-sans;
                        font-weight: 600;
                        color: floralwhite;

                        &>p {
                            transform: translateY(-100%);
                        }
                    }

                }

                &>.content_espektro_image_wrapper {
                    height: 100%;
                    width: 100%;
                    padding: 1rem;
                    gap: 0.5rem;
                    // border: 7px solid red;
                    position: relative;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    &>.content_espektro_image_container:nth-child(n) {
                        // border: 1px solid red;
                        height: 80%;
                        width: 20rem;
                        overflow: hidden;

                        @keyframes revealText {
                            to {
                                opacity: 1;
                                transform: translateX(0);
                            }
                        }


                        &>img {
                            animation: revealText 1s 0.2s forwards;
                            width: 100%;
                            height: 100%;
                            transform: translateX(-100%);
                            object-fit: cover;
                            border-radius: 1rem;
                        }
                    }

                    // &>.content_espektro_image_container:nth-child(2) {
                    //     // border: 1px solid red;
                    //     height: 16rem;
                    //     width: 16rem;
                    //     // position: relative;
                    //     grid-template-columns: 1/2;

                    //     &>img {
                    //         width: 100%;
                    //         height: 100%;
                    //         object-fit: cover;
                    //         border-radius: 1rem;
                    //     }
                    // }
                }
            }
        }

        &>.content_exotica {
            position: absolute;
            height: 100%;
            width: 100%;
            // border: 2px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);

            &>.main_content_container {

                display: grid;
                // grid-template-columns: 1fr;
                grid-template-columns: 1fr;
                width: 100%;
                height: 100%;
                // border: 2px solid red;
                // background-color: #4d4855;
                position: relative;

                &>.content_container {
                    // border: 2px solid red;
                    position: absolute;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    font-size: 1.5rem;
                    gap: 1rem;
                    grid-template-columns: 2/3;
                    // grid-template-columns: 1/2;
                    // border: 1px solid blue;
                    height: 100%;
                    opacity: 1;
                    color: floralwhite;
                    // z-index: 20;

                    &>div:nth-child(1) {
                        // border: 1px solid red;
                        overflow: hidden;
                        font-size: 3rem;
                        font-family: $poppins-sans;
                        font-weight: 600;
                        color: floralwhite;

                        &>p {
                            transform: translateY(-100%);
                        }
                    }

                }

                &>.content_espektro_image_wrapper {
                    height: 100%;
                    width: 100%;
                    padding: 1rem;
                    gap: 0.5rem;
                    // border: 7px solid red;
                    position: relative;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    &>.content_espektro_image_container:nth-child(n) {
                        // border: 1px solid red;
                        height: 80%;
                        width: 20rem;
                        overflow: hidden;

                        @keyframes revealText {
                            to {
                                opacity: 1;
                                transform: translateX(0);
                            }
                        }


                        &>img {
                            animation: revealText 1s 0.2s forwards;
                            width: 100%;
                            height: 100%;
                            transform: translateX(-100%);
                            object-fit: cover;
                            border-radius: 1rem;
                        }
                    }

                    // &>.content_espektro_image_container:nth-child(2) {
                    //     // border: 1px solid red;
                    //     height: 16rem;
                    //     width: 16rem;
                    //     // position: relative;
                    //     grid-template-columns: 1/2;

                    //     &>img {
                    //         width: 100%;
                    //         height: 100%;
                    //         object-fit: cover;
                    //         border-radius: 1rem;
                    //     }
                    // }
                }
            }
        }
    }
}

@include xs {
    .wrapper {
        &>.main_container {
            &>.content_espektro {
                &>.main_content_container {
                    &>.content_espektro_image_wrapper {

                        &>.content_espektro_image_container:nth-child(1) {
                            width: 80%;
                        }

                        &>.content_espektro_image_container:not(:nth-child(1)) {
                            display: none;
                        }
                    }

                    &>.content_container {
                        font-size: 1.3rem;
                    }
                }
            }

            &>.content_techtix {
                &>.main_content_container {
                    &>.content_espektro_image_wrapper {

                        &>.content_espektro_image_container:nth-child(1) {
                            width: 80%;
                        }

                        &>.content_espektro_image_container:not(:nth-child(1)) {
                            display: none;
                        }
                    }

                    &>.content_container {
                        font-size: 1.3rem;
                    }
                }
            }

            &>.content_exotica {
                &>.main_content_container {
                    &>.content_espektro_image_wrapper {

                        &>.content_espektro_image_container:nth-child(1) {
                            width: 80%;
                        }

                        &>.content_espektro_image_container:not(:nth-child(1)) {
                            display: none;
                        }
                    }

                    &>.content_container {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

@include sm {
    .wrapper {
        &>.main_container {
            &>.content_espektro {
                &>.main_content_container {
                    &>.content_container {
                        font-size: 1.6rem;
                    }
                }
            }

            &>.content_techtix {
                &>.main_content_container {
                    &>.content_container {
                        font-size: 1.6rem;
                    }
                }
            }

            &>.content_exotica {
                &>.main_content_container {
                    &>.content_container {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}

@include mobile {
    .wrapper {
        &>.main_container {
            &>.content_espektro {
                &>.main_content_container {
                    &>.content_espektro_image_wrapper {
                        // border: 1px solid red;

                        &>.content_espektro_image_container:nth-child(1),
                        &>.content_espektro_image_container:nth-child(2) {
                            width: 18rem;
                        }

                        &>.content_espektro_image_container:not(:nth-child(1)) {
                            display: block;
                        }

                        &>.content_espektro_image_container:nth-child(n+3) {
                            display: none;
                        }
                    }

                    &>.content_container {
                        font-size: 1.7rem;
                    }
                }
            }

            &>.content_techtix {
                &>.main_content_container {
                    &>.content_espektro_image_wrapper {
                        // border: 1px solid red;

                        &>.content_espektro_image_container:nth-child(1),
                        &>.content_espektro_image_container:nth-child(2) {
                            width: 18rem;
                        }

                        &>.content_espektro_image_container:not(:nth-child(1)) {
                            display: block;
                        }

                        &>.content_espektro_image_container:nth-child(n+3) {
                            display: none;
                        }
                    }

                    &>.content_container {
                        font-size: 1.7rem;
                    }
                }
            }

            &>.content_exotica {
                &>.main_content_container {
                    &>.content_espektro_image_wrapper {
                        // border: 1px solid red;

                        &>.content_espektro_image_container:nth-child(1),
                        &>.content_espektro_image_container:nth-child(2) {
                            width: 18rem;
                        }

                        &>.content_espektro_image_container:not(:nth-child(1)) {
                            display: block;
                        }

                        &>.content_espektro_image_container:nth-child(n+3) {
                            display: none;
                        }
                    }

                    &>.content_container {
                        font-size: 1.7rem;
                    }
                }
            }
        }
    }
}

@include tablet {
    .wrapper {
        &>.main_container {
            &>.content_espektro {
                &>.main_content_container {
                    &>.content_container {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@include desktop {
    .wrapper {
        &>.main_container {
            &>.content_espektro {
                &>.main_content_container {
                    &>.content_container {
                        font-size: 2.1rem;
                    }
                }
            }
        }
    }
}

@include large {
    .wrapper {
        &>.main_container {
            &>.content_espektro {
                &>.main_content_container {

                    &>.content_espektro_image_wrapper {
                        // border: 1px solid red;

                        &>.content_espektro_image_container:nth-child(1),
                        &>.content_espektro_image_container:nth-child(2),
                        &>.content_espektro_image_container:nth-child(3) {
                            width: 18rem;
                        }

                        &>.content_espektro_image_container:not(:nth-child(1)) {
                            display: block;
                        }

                        &>.content_espektro_image_container:nth-child(n+4) {
                            display: none;
                        }
                    }

                    &>.content_container {
                        font-size: 2.3rem;
                    }
                }
            }
        }
    }
}