@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/breakpoints';

:root {
  --grid-row: 200px;
  --grid-row-large: 250px; // Replace with your secondary color
  --text-color: floralwhite;
  --border-color: floralwhite;
  --container-padding: 1rem;
  --container-top-padding: 3rem;
  --sponsor--item-padding: 0.5rem;
  --grid-container-padding: 1.5rem;
  --gallery-margin-top: 2rem;
  --gallery-grid-gap-small: 0.5rem;
  --gallery-grid-gap-medium: 0.5rem;
  --gallery-grid-gap-large: 0.9rem;
  --gallery-item-border-radius: 0.9rem;
  --button-container-padding-y: 2rem;
  --button-container-font-size: 1.2rem;
  --button-padding-y: 1rem;
  --button-padding-x: 3rem;
}

// Mixins
@mixin flex-container($direction, $justify, $align) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: $align;
}

@mixin grid-template-area-type1 {
  grid-template-areas:
    'area1 area2'
    'area3 area4'
    'area5 area6'
    'area7 area8';
}

@mixin grid-template-area-type2 {
  grid-template-areas:
    'area1 area2 area3'
    'area4 area5 area6'
    'area7 area8 area8';
}

@mixin grid-template-area-type3 {
  grid-template-areas:
    'area1 area1 area2 area3'
    'area4 area5 area2 area7'
    'area4 area6 area6 area7'
    'area9 area8 area8 area10'
    'area11 area11 area12 area12'
    'area13 area14 area14 area15';
}

@mixin grid-template-area-type4 {
  grid-template-areas:
    'area1 area1 area2 area6 area6'
    'area3 area4 area2 area7 area5'
    'area10 area8 area8 area7 area9'
    'area14 area14 area12 area12 area12'
    'area11 area15 area15 area13 area16';
}

.sponsors__main__container {
  min-height: 100vh;
  background-color: $primary;
  padding: var(--container-padding);
  padding-top: var(--container-top-padding);

  & > div:first-child {
    --top--padding: 2rem;
    padding-top: var(--top--padding);
    margin-bottom: 5rem;
  }

  .sponsors__inner__container {
    padding: var(--grid-container-padding);
    height: 100%;

    .sponsors__grid__container {
      margin-top: var(--gallery-margin-top);
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gallery-grid-gap-large);
      @include grid-template-area-type1();

      .sponsors__grid__item__contianer:nth-child(n) {
        @include flex-container(row, center, center);
        padding: var(--sponsor--item-padding);
        background-color: $text-medium;
        border-radius: var(--gallery-item-border-radius);

        .sponsors__grid__item:nth-child(n) {
          @include flex-container(row, center, center);
          overflow: hidden;
          border-radius: var(--gallery-item-border-radius);

          & > img {
            object-fit: contain;
            filter: grayscale(120%) brightness(0.6) contrast(100%) saturate(80%);
          }
        }
      }
    }
  }

  @include mobile {
    .sponsors__inner__container {
      .sponsors__grid__container {
        grid-template-columns: repeat(3, 1fr);
        @include grid-template-area-type2();
      }
    }
  }

  @include tablet {
    .sponsors__inner__container {
      .sponsors__grid__container {
        grid-template-columns: repeat(4, 1fr);
        @include grid-template-area-type2();
      }
    }
  }

  @include desktop {
    .sponsors__inner__container {
      .sponsors__grid__container {
        grid-template-columns: repeat(4, 1fr);
        @include grid-template-area-type2();
      }
    }
  }

  @include large {
    --grid--container--padding: 3rem;

    .sponsors__inner__container {
      padding: 0 var(--grid--container--padding);

      .sponsors__grid__container {
        grid-template-columns: repeat(5, 1fr);
        @include grid-template-area-type2();
      }
    }
  }
}
