.page__layout {
  width: 100vw;
  height: 100vh;
  position: relative;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  scroll-margin-top: 10rem;
}

.sentinal__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  pointer-events: none;
  z-index: 997;
}
