@import '../../../../styles/colors';
@import '../../../../styles/breakpoints';
@import '../../../../styles/fonts';

//! i have added extra 5px to height because of EventSection and ClubSection
//! there is a white 1px-2px line when snap for scrolltrigger, at the top
//! this is kind of work around
.sponsors__section {
  height: calc(100vh + 5px);
  background-color: $primary;
  //! this padding are also part of this problem
  padding-top: 3px;
  padding-bottom: 2rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.sponsor__header {
  & > h1 {
    font-size: 2rem;
    font-family: $open-sans;
    font-weight: bolder;
    color: $text-light;

    @include max-media(480px) {
      font-size: 1.5rem;
    }
  }
  & > p {
    color: $text-medium;
    padding: 0 2rem;
    margin: 0.75rem 0;
    @include max-media(480px) {
      font-size: 0.8rem;
    }
  }
}

.sponsers__wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 2rem;
  flex: 1;
  justify-content: space-evenly;
}

.sponsers__list,
.sponsers__list__backward {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  gap: 2rem;
  // padding: 0 1.5rem;
  @include max-media(375px) {
    gap: 1rem;
  }
}
.sponsers__list__backward {
  direction: rtl;
}
.sponsers__item {
  min-width: 15rem;
  height: 200px;
  // background-color: green;
  // border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 0.5rem;

  @include max-media(768px) {
    min-width: 12rem;
    height: 180px;
    padding: 0.75rem;
  }
  @include max-media(425px) {
    min-width: 9rem;
    height: 135px;
    padding: 0.5rem;
  }

  .sponsor__image__container {
    max-height: 80%;
    flex: 6;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      filter: grayscale(1) brightness(1.25) contrast(0.5) saturate(0);
    }
  }
  .sponsor__title__container {
    flex: 1;
    color: $text-medium;
    opacity: 0.8;
    font-family: $open-sans;
    text-transform: capitalize;
    font-weight: bold;
    @include max-media(768px) {
      font-size: 0.9rem;
    }
  }
}
